
[include config/printer.cfg]

[include config/steppers/x.cfg]
[include config/steppers/y.cfg]
[include config/steppers/z.cfg]

[include config/extruder.cfg]
[include config/bed.cfg]

[include config/hardware/probes/voron_tap.cfg]
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/controller_fan.cfg]
[include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]
[include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
[include config/hardware/lights/fcob_white.cfg]
[include config/hardware/lights/status_leds.cfg] 
[include config/hardware/filament_sensors/switch_sensor.cfg]
[include config/hardware/accelerometers/adxl345_BTT_SB22xx.cfg] 
[include config/hardware/filters/nevermore_filter.cfg]
[include config/software/bed_mesh/bed_mesh_300mm.cfg]
[include config/software/firmware_rectraction.cfg]
[include config/software/input_shaper.cfg] 
[include config/software/tilting/qgl_300mm.cfg]

[shaketune]

[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]

