[printer]
kinematics: corexy

max_velocity: 500
max_accel: 16000

max_z_velocity: 30
max_z_accel: 500

minimum_cruise_ratio: 0.5
square_corner_velocity: 5.0


[include steppers/x.cfg]
[include steppers/y.cfg]
[include steppers/z.cfg]

[include config/hardware/axis/size/300mm.cfg]
[include config/hardware/extruder/cw2.cfg]
[include config/hardware/bed_heaters/keenovo.cfg] 
[include config/hardware/probes/voron_tap.cfg]
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/controller_fan.cfg]
[include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]
[include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
[include config/hardware/lights/fcob_white.cfg]
[include config/hardware/lights/status_leds.cfg] 
[include config/hardware/filament_sensors/switch_sensor.cfg]
[include config/hardware/accelerometers/adxl345_BTT_SB22xx.cfg] 
[include config/hardware/filters/nevermore_filter.cfg]
[include config/software/bed_mesh/bed_mesh_300mm.cfg]
[include config/software/firmware_rectraction.cfg]
[include config/software/input_shaper.cfg] 
[include config/software/tilting/qgl_300mm.cfg]

[shaketune]

[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]

